# Python and Pandas Review

## List vs array vs series vs dataframe

In [1]:
[1, 2, 3]

[1, 2, 3]

In [2]:
list_of_nums = [1, 2, 3]

In [3]:
list_of_nums

[1, 2, 3]

In [5]:
import numpy as np

In [7]:
arr_of_nums = np.array([1, 2, 3])

In [8]:
arr_of_nums

array([1, 2, 3])

In [9]:
arr_of_nums.max()

3

In [10]:
max(list_of_nums)

3

In [11]:
import pandas as pd

In [17]:
df = pd.DataFrame.from_dict({'a': [1, 2, 3], 'b': [4, 5, 6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [14]:
max(list_of_nums)

3

In [15]:
arr_of_nums.max()

3

In [16]:
list_of_nums

[1, 2, 3]

In [19]:
df.shape

(3, 2)

In [20]:
max(list_of_nums)

3

In [25]:
df.a.value_counts()

1    1
2    1
3    1
Name: a, dtype: int64

In [27]:
df.a.unique()

array([1, 2, 3])

# Methods and Functions are verbs

# Variables are nouns

# Attributes are adjectives

In [30]:
type(df.a)

pandas.core.series.Series

In [31]:
df.a

0    1
1    2
2    3
Name: a, dtype: int64

In [32]:
['a', 1, 3, True]

['a', 1, 3, True]

In [42]:
df.index

RangeIndex(start=0, stop=3, step=1)

## Dictionary vs List

In [34]:
list_of_nums[0]

1

In [35]:
dict_of_let_and_nums = {
    'a': 1,
    'b': 2,
    'c': 3
}

In [36]:
dict_of_let_and_nums

{'a': 1, 'b': 2, 'c': 3}

In [37]:
dict_of_let_and_nums['a']

1

In [41]:
dict_of_let_and_nums.keys()

dict_keys(['a', 'b', 'c'])

In [46]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [45]:
list_of_nums[0]

1

In [48]:
type(students)

list

In [51]:
students[0]

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [52]:
type(students[0])

dict

In [53]:
dict_of_let_and_nums

{'a': 1, 'b': 2, 'c': 3}

In [54]:
dict_of_let_and_nums['a']

1

In [55]:
students[0]['id']

'100001'

In [56]:
students[0]['grades']

[70, 91, 82, 71]

In [58]:
students[0]['grades'][0]

70

In [60]:
max(list_of_nums)

3

In [61]:
max(students[0]['grades'])

91

In [66]:
students[0]['student']

'Ada Lovelace'

## Getting Loopy

In [69]:
for number in [1, 2, 3]:
    print(number)

1
2
3

In [71]:
type(students)

list

In [79]:
for student in students:
    if student['student'] == 'Jane Goodall':
        print(student['coffee_preference'])

light

### sum up one students grades

In [83]:
sum(students[0]['grades'])

314

In [82]:
sum(list_of_nums)

6

### sum of age of all student pets

In [97]:
students[3]['pets']#[0]#['age']

[{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]

In [102]:
sum_of_pet_ages = 0

for student in students:
    if len(student['pets']) != 0:
        for pet in student['pets']:
            sum_of_pet_ages = sum_of_pet_ages + pet['age']
            
sum_of_pet_ages

103

In [104]:
list_of_pet_species = []

for student in students:
    #Check if student has a pet
    if len(student['pets']) != 0:
        print('Outside pet loop:', list_of_pet_species)
        for pet in student['pets']:
            list_of_pet_species.append(pet['species'])
            print('Inside pet loop:', list_of_pet_species)

Outside pet loop: []
Inside pet loop: ['horse']
Outside pet loop: ['horse']
Inside pet loop: ['horse', 'cat']
Outside pet loop: ['horse', 'cat']
Inside pet loop: ['horse', 'cat', 'dog']
Inside pet loop: ['horse', 'cat', 'dog', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'horse']
Outside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'horse']
Inside pet loop: ['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'horse', 'dog']

# Functions

In [110]:
def iterate(n):
    return n + 1

In [111]:
iterate(1)

3

In [107]:
assert True

In [108]:
assert False

AssertionError:

In [112]:
assert iterate(1) == 2

AssertionError:

In [113]:
iterate(1)

3

In [114]:
list_of_nums

[1, 2, 3]

In [123]:
def length_of_list(l):
    return len(list_of_nums)

In [124]:
length_of_list(list_of_nums)

3

In [125]:
assert length_of_list(list_of_nums) == 3

### This is a global variable

In [126]:
a_new_list_of_numbers = [1, 2, 3, 4, 5]

In [127]:
length_of_list(a_new_list_of_numbers)

3

In [128]:
def a_holder_of_info():
    info = 'info'

### info is a local variable

In [129]:
info

NameError: name 'info' is not defined

# Filtering in Pandas

In [130]:
from pydataset import data

In [132]:
df = data('tips')
df

     total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [135]:
df.tip

1      1.01
2      1.66
3      3.50
4      3.31
5      3.61
       ...
240    5.92
241    2.00
242    2.00
243    1.75
244    3.00
Name: tip, Length: 244, dtype: float64

In [137]:
df[df.tip > 5]

     total_bill    tip     sex smoker   day    time  size
24        39.42   7.58    Male     No   Sat  Dinner     4
45        30.40   5.60    Male     No   Sun  Dinner     4
48        32.40   6.00    Male     No   Sun  Dinner     4
53        34.81   5.20  Female     No   Sun  Dinner     4
60        48.27   6.73    Male     No   Sat  Dinner     4
86        34.83   5.17  Female     No  Thur   Lunch     4
89        24.71   5.85    Male     No  Thur   Lunch     2
117       29.93   5.07    Male     No   Sun  Dinner     4
142       34.30   6.70    Male     No  Thur   Lunch     6
156       29.85   5.14  Female     No   Sun  Dinner     5
171       50.81  10.00    Male    Yes   Sat  Dinner     3
173        7.25   5.15    Male    Yes   Sun  Dinner     2
182       23.33   5.65    Male    Yes   Sun  Dinner     2
184       23.17   6.50    Male    Yes   Sun  Dinner     4
212       25.89   5.16    Male    Yes   Sat  Dinner     4
213       48.33   9.00    Male     No   Sat  Dinner     4
215       28.17   6.50  Female    Yes   Sat  Dinner     3
240       29.03   5.92    Male     No   Sat  Dinner     3

In [138]:
df.sex == 'Male'

1      False
2       True
3       True
4       True
5      False
       ...
240     True
241    False
242     True
243     True
244    False
Name: sex, Length: 244, dtype: bool

In [142]:
df[df.sex == 'Male']

     total_bill    tip   sex smoker   day    time  size
2         10.34   1.66  Male     No   Sun  Dinner     3
3         21.01   3.50  Male     No   Sun  Dinner     3
4         23.68   3.31  Male     No   Sun  Dinner     2
6         25.29   4.71  Male     No   Sun  Dinner     4
7          8.77   2.00  Male     No   Sun  Dinner     2
8         26.88   3.12  Male     No   Sun  Dinner     4
9         15.04   1.96  Male     No   Sun  Dinner     2
10        14.78   3.23  Male     No   Sun  Dinner     2
11        10.27   1.71  Male     No   Sun  Dinner     2
13        15.42   1.57  Male     No   Sun  Dinner     2
14        18.43   3.00  Male     No   Sun  Dinner     4
16        21.58   3.92  Male     No   Sun  Dinner     2
18        16.29   3.71  Male     No   Sun  Dinner     3
20        20.65   3.35  Male     No   Sat  Dinner     3
21        17.92   4.08  Male     No   Sat  Dinner     2
24        39.42   7.58  Male     No   Sat  Dinner     4
25        19.82   3.18  Male     No   Sat  Dinner     2
26        17.81   2.34  Male     No   Sat  Dinner     4
27        13.37   2.00  Male     No   Sat  Dinner     2
28        12.69   2.00  Male     No   Sat  Dinner     2
29        21.70   4.30  Male     No   Sat  Dinner     2
31         9.55   1.45  Male     No   Sat  Dinner     2
32        18.35   2.50  Male     No   Sat  Dinner     4
35        17.78   3.27  Male     No   Sat  Dinner     2
36        24.06   3.60  Male     No   Sat  Dinner     3
37        16.31   2.00  Male     No   Sat  Dinner     3
39        18.69   2.31  Male     No   Sat  Dinner     3
40        31.27   5.00  Male     No   Sat  Dinner     3
41        16.04   2.24  Male     No   Sat  Dinner     3
42        17.46   2.54  Male     No   Sun  Dinner     2
43        13.94   3.06  Male     No   Sun  Dinner     2
44         9.68   1.32  Male     No   Sun  Dinner     2
45        30.40   5.60  Male     No   Sun  Dinner     4
46        18.29   3.00  Male     No   Sun  Dinner     2
47        22.23   5.00  Male     No   Sun  Dinner     2
48        32.40   6.00  Male     No   Sun  Dinner     4
49        28.55   2.05  Male     No   Sun  Dinner     3
50        18.04   3.00  Male     No   Sun  Dinner     2
51        12.54   2.50  Male     No   Sun  Dinner     2
54         9.94   1.56  Male     No   Sun  Dinner     2
55        25.56   4.34  Male     No   Sun  Dinner     4
56        19.49   3.51  Male     No   Sun  Dinner     2
57        38.01   3.00  Male    Yes   Sat  Dinner     4
59        11.24   1.76  Male    Yes   Sat  Dinner     2
60        48.27   6.73  Male     No   Sat  Dinner     4
61        20.29   3.21  Male    Yes   Sat  Dinner     2
62        13.81   2.00  Male    Yes   Sat  Dinner     2
63        11.02   1.98  Male    Yes   Sat  Dinner     2
64        18.29   3.76  Male    Yes   Sat  Dinner     4
65        17.59   2.64  Male     No   Sat  Dinner     3
66        20.08   3.15  Male     No   Sat  Dinner     3
69        20.23   2.01  Male     No   Sat  Dinner     2
70        15.01   2.09  Male    Yes   Sat  Dinner     2
71        12.02   1.97  Male     No   Sat  Dinner     2
76        10.51   1.25  Male     No   Sat  Dinner     2
77        17.92   3.08  Male    Yes   Sat  Dinner     2
78        27.20   4.00  Male     No  Thur   Lunch     4
79        22.76   3.00  Male     No  Thur   Lunch     2
80        17.29   2.71  Male     No  Thur   Lunch     2
81        19.44   3.00  Male    Yes  Thur   Lunch     2
82        16.66   3.40  Male     No  Thur   Lunch     2
84        32.68   5.00  Male    Yes  Thur   Lunch     2
85        15.98   2.03  Male     No  Thur   Lunch     2
87        13.03   2.00  Male     No  Thur   Lunch     2
88        18.28   4.00  Male     No  Thur   Lunch     2
89        24.71   5.85  Male     No  Thur   Lunch     2
90        21.16   3.00  Male     No  Thur   Lunch     2
91        28.97   3.00  Male    Yes   Fri  Dinner     2
92        22.49   3.50  Male     No   Fri  Dinner     2
96        40.17   4.73  Male    Yes   Fri  Dinner     4
97        27.28   4.00  Male    Yes   Fri  Dinner     2
98        12.03   1.50  Male    Yes   Fri  Dinner     2
99        21.01   3.00  Male    Yes   Fri  Dinner     2
100       12.46   1.50  Male     No   Fri  Dinner     2
106       15.36   1.64  Male    Yes   Sat  Dinner     2
107       20.49   4.06  Male    Yes   Sat  Dinner     2
108       25.21   4.29  Male    Yes   Sat  Dinner     2
109       18.24   3.76  Male     No   Sat  Dinner     2
111       14.00   3.00  Male     No   Sat  Dinner     2
113       38.07   4.00  Male     No   Sun  Dinner     3
114       23.95   2.55  Male     No   Sun  Dinner     2
117       29.93   5.07  Male     No   Sun  Dinner     4
121       11.69   2.31  Male     No  Thur   Lunch     2
123       14.26   2.50  Male     No  Thur   Lunch     2
124       15.95   2.00  Male     No  Thur   Lunch     2
127        8.52   1.48  Male     No  Thur   Lunch     2
130       22.82   2.18  Male     No  Thur   Lunch     3
131       19.08   1.50  Male     No  Thur   Lunch     2
139       16.00   2.00  Male    Yes  Thur   Lunch     2
142       34.30   6.70  Male     No  Thur   Lunch     6
143       41.19   5.00  Male     No  Thur   Lunch     5
149        9.78   1.73  Male     No  Thur   Lunch     2
150        7.51   2.00  Male     No  Thur   Lunch     2
151       14.07   2.50  Male     No   Sun  Dinner     2
152       13.13   2.00  Male     No   Sun  Dinner     2
153       17.26   2.74  Male     No   Sun  Dinner     3
154       24.55   2.00  Male     No   Sun  Dinner     4
155       19.77   2.00  Male     No   Sun  Dinner     4
157       48.17   5.00  Male     No   Sun  Dinner     6
160       16.49   2.00  Male     No   Sun  Dinner     4
161       21.50   3.50  Male     No   Sun  Dinner     4
162       12.66   2.50  Male     No   Sun  Dinner     2
164       13.81   2.00  Male     No   Sun  Dinner     2
166       24.52   3.48  Male     No   Sun  Dinner     3
167       20.76   2.24  Male     No   Sun  Dinner     2
168       31.71   4.50  Male     No   Sun  Dinner     4
171       50.81  10.00  Male    Yes   Sat  Dinner     3
172       15.81   3.16  Male    Yes   Sat  Dinner     2
173        7.25   5.15  Male    Yes   Sun  Dinner     2
174       31.85   3.18  Male    Yes   Sun  Dinner     2
175       16.82   4.00  Male    Yes   Sun  Dinner     2
176       32.90   3.11  Male    Yes   Sun  Dinner     2
177       17.89   2.00  Male    Yes   Sun  Dinner     2
178       14.48   2.00  Male    Yes   Sun  Dinner     2
180       34.63   3.55  Male    Yes   Sun  Dinner     2
181       34.65   3.68  Male    Yes   Sun  Dinner     4
182       23.33   5.65  Male    Yes   Sun  Dinner     2
183       45.35   3.50  Male    Yes   Sun  Dinner     3
184       23.17   6.50  Male    Yes   Sun  Dinner     4
185       40.55   3.00  Male    Yes   Sun  Dinner     2
186       20.69   5.00  Male     No   Sun  Dinner     5
188       30.46   2.00  Male    Yes   Sun  Dinner     5
190       23.10   4.00  Male    Yes   Sun  Dinner     3
191       15.69   1.50  Male    Yes   Sun  Dinner     2
193       28.44   2.56  Male    Yes  Thur   Lunch     2
194       15.48   2.02  Male    Yes  Thur   Lunch     2
195       16.58   4.00  Male    Yes  Thur   Lunch     2
196        7.56   1.44  Male     No  Thur   Lunch     2
197       10.34   2.00  Male    Yes  Thur   Lunch     2
200       13.51   2.00  Male    Yes  Thur   Lunch     2
201       18.71   4.00  Male    Yes  Thur   Lunch     3
205       20.53   4.00  Male    Yes  Thur   Lunch     4
207       26.59   3.41  Male    Yes   Sat  Dinner     3
208       38.73   3.00  Male    Yes   Sat  Dinner     4
209       24.27   2.03  Male    Yes   Sat  Dinner     2
211       30.06   2.00  Male    Yes   Sat  Dinner     3
212       25.89   5.16  Male    Yes   Sat  Dinner     4
213       48.33   9.00  Male     No   Sat  Dinner     4
217       28.15   3.00  Male    Yes   Sat  Dinner     5
218       11.59   1.50  Male    Yes   Sat  Dinner     2
219        7.74   1.44  Male    Yes   Sat  Dinner     2
221       12.16   2.20  Male    Yes   Fri   Lunch     2
223        8.58   1.92  Male    Yes   Fri   Lunch     1
225       13.42   1.58  Male    Yes   Fri   Lunch     2
228       20.45   3.00  Male     No   Sat  Dinner     4
229       13.28   2.72  Male     No   Sat  Dinner     2
231       24.01   2.00  Male    Yes   Sat  Dinner     4
232       15.69   3.00  Male    Yes   Sat  Dinner     3
233       11.61   3.39  Male     No   Sat  Dinner     2
234       10.77   1.47  Male     No   Sat  Dinner     2
235       15.53   3.00  Male    Yes   Sat  Dinner     2
236       10.07   1.25  Male     No   Sat  Dinner     2
237       12.60   1.00  Male    Yes   Sat  Dinner     2
238       32.83   1.17  Male    Yes   Sat  Dinner     2
240       29.03   5.92  Male     No   Sat  Dinner     3
242       22.67   2.00  Male    Yes   Sat  Dinner     2
243       17.82   1.75  Male     No   Sat  Dinner     2

In [144]:
tip_more_than_5 = df[df.tip > 5]
tip_more_than_5

     total_bill    tip     sex smoker   day    time  size
24        39.42   7.58    Male     No   Sat  Dinner     4
45        30.40   5.60    Male     No   Sun  Dinner     4
48        32.40   6.00    Male     No   Sun  Dinner     4
53        34.81   5.20  Female     No   Sun  Dinner     4
60        48.27   6.73    Male     No   Sat  Dinner     4
86        34.83   5.17  Female     No  Thur   Lunch     4
89        24.71   5.85    Male     No  Thur   Lunch     2
117       29.93   5.07    Male     No   Sun  Dinner     4
142       34.30   6.70    Male     No  Thur   Lunch     6
156       29.85   5.14  Female     No   Sun  Dinner     5
171       50.81  10.00    Male    Yes   Sat  Dinner     3
173        7.25   5.15    Male    Yes   Sun  Dinner     2
182       23.33   5.65    Male    Yes   Sun  Dinner     2
184       23.17   6.50    Male    Yes   Sun  Dinner     4
212       25.89   5.16    Male    Yes   Sat  Dinner     4
213       48.33   9.00    Male     No   Sat  Dinner     4
215       28.17   6.50  Female    Yes   Sat  Dinner     3
240       29.03   5.92    Male     No   Sat  Dinner     3

In [146]:
tip_more_than_5[tip_more_than_5.sex == 'Male']

     total_bill    tip   sex smoker   day    time  size
24        39.42   7.58  Male     No   Sat  Dinner     4
45        30.40   5.60  Male     No   Sun  Dinner     4
48        32.40   6.00  Male     No   Sun  Dinner     4
60        48.27   6.73  Male     No   Sat  Dinner     4
89        24.71   5.85  Male     No  Thur   Lunch     2
117       29.93   5.07  Male     No   Sun  Dinner     4
142       34.30   6.70  Male     No  Thur   Lunch     6
171       50.81  10.00  Male    Yes   Sat  Dinner     3
173        7.25   5.15  Male    Yes   Sun  Dinner     2
182       23.33   5.65  Male    Yes   Sun  Dinner     2
184       23.17   6.50  Male    Yes   Sun  Dinner     4
212       25.89   5.16  Male    Yes   Sat  Dinner     4
213       48.33   9.00  Male     No   Sat  Dinner     4
240       29.03   5.92  Male     No   Sat  Dinner     3

python: if I want to say and i just say and

pandas: if I want to say and between columns I say &

In [149]:
df[(df.tip > 5) & (df.sex == 'Male')]

     total_bill    tip   sex smoker   day    time  size
24        39.42   7.58  Male     No   Sat  Dinner     4
45        30.40   5.60  Male     No   Sun  Dinner     4
48        32.40   6.00  Male     No   Sun  Dinner     4
60        48.27   6.73  Male     No   Sat  Dinner     4
89        24.71   5.85  Male     No  Thur   Lunch     2
117       29.93   5.07  Male     No   Sun  Dinner     4
142       34.30   6.70  Male     No  Thur   Lunch     6
171       50.81  10.00  Male    Yes   Sat  Dinner     3
173        7.25   5.15  Male    Yes   Sun  Dinner     2
182       23.33   5.65  Male    Yes   Sun  Dinner     2
184       23.17   6.50  Male    Yes   Sun  Dinner     4
212       25.89   5.16  Male    Yes   Sat  Dinner     4
213       48.33   9.00  Male     No   Sat  Dinner     4
240       29.03   5.92  Male     No   Sat  Dinner     3

### What about or? Answer: |

In [ ]:
df[(df.tip > 5) | (df.sex == 'Male')]

In [164]:
def find_tip_and_sex(given_df, tip_amount, sex_of_guest):
    filtered_df = given_df[(given_df.tip > tip_amount) & (given_df.sex == sex_of_guest)]
    
    return filtered_df

In [165]:
assert (find_tip_and_sex(df, 5, 'Male') == df[(df.tip > 5) & (df.sex == 'Male')]).all().all()

In [167]:
find_tip_and_sex(df, 4, 'Female')

     total_bill   tip     sex smoker   day    time  size
12        35.26  5.00  Female     No   Sun  Dinner     4
53        34.81  5.20  Female     No   Sun  Dinner     4
74        25.28  5.00  Female    Yes   Sat  Dinner     2
86        34.83  5.17  Female     No  Thur   Lunch     4
94        16.32  4.30  Female    Yes   Fri  Dinner     2
105       20.92  4.08  Female     No   Sat  Dinner     2
126       29.80  4.20  Female     No  Thur   Lunch     6
144       27.05  5.00  Female     No  Thur   Lunch     6
156       29.85  5.14  Female     No   Sun  Dinner     5
192       19.81  4.19  Female    Yes  Thur   Lunch     2
198       43.11  5.00  Female    Yes  Thur   Lunch     4
215       28.17  6.50  Female    Yes   Sat  Dinner     3
239       35.83  4.67  Female     No   Sat  Dinner     3

In [172]:
df[~(df.day == 'Thur')]

     total_bill   tip     sex smoker  day    time  size
1         16.99  1.01  Female     No  Sun  Dinner     2
2         10.34  1.66    Male     No  Sun  Dinner     3
3         21.01  3.50    Male     No  Sun  Dinner     3
4         23.68  3.31    Male     No  Sun  Dinner     2
5         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
239       35.83  4.67  Female     No  Sat  Dinner     3
240       29.03  5.92    Male     No  Sat  Dinner     3
241       27.18  2.00  Female    Yes  Sat  Dinner     2
242       22.67  2.00    Male    Yes  Sat  Dinner     2
243       17.82  1.75    Male     No  Sat  Dinner     2

[182 rows x 7 columns]

In [175]:
~(df.day == 'Thur')

1       True
2       True
3       True
4       True
5       True
       ...
240     True
241     True
242     True
243     True
244    False
Name: day, Length: 244, dtype: bool

In [178]:
df[df.day.isin(['Thur', 'Fri'])]

     total_bill   tip     sex smoker   day    time  size
78        27.20  4.00    Male     No  Thur   Lunch     4
79        22.76  3.00    Male     No  Thur   Lunch     2
80        17.29  2.71    Male     No  Thur   Lunch     2
81        19.44  3.00    Male    Yes  Thur   Lunch     2
82        16.66  3.40    Male     No  Thur   Lunch     2
83        10.07  1.83  Female     No  Thur   Lunch     1
84        32.68  5.00    Male    Yes  Thur   Lunch     2
85        15.98  2.03    Male     No  Thur   Lunch     2
86        34.83  5.17  Female     No  Thur   Lunch     4
87        13.03  2.00    Male     No  Thur   Lunch     2
88        18.28  4.00    Male     No  Thur   Lunch     2
89        24.71  5.85    Male     No  Thur   Lunch     2
90        21.16  3.00    Male     No  Thur   Lunch     2
91        28.97  3.00    Male    Yes   Fri  Dinner     2
92        22.49  3.50    Male     No   Fri  Dinner     2
93         5.75  1.00  Female    Yes   Fri  Dinner     2
94        16.32  4.30  Female    Yes   Fri  Dinner     2
95        22.75  3.25  Female     No   Fri  Dinner     2
96        40.17  4.73    Male    Yes   Fri  Dinner     4
97        27.28  4.00    Male    Yes   Fri  Dinner     2
98        12.03  1.50    Male    Yes   Fri  Dinner     2
99        21.01  3.00    Male    Yes   Fri  Dinner     2
100       12.46  1.50    Male     No   Fri  Dinner     2
101       11.35  2.50  Female    Yes   Fri  Dinner     2
102       15.38  3.00  Female    Yes   Fri  Dinner     2
118       10.65  1.50  Female     No  Thur   Lunch     2
119       12.43  1.80  Female     No  Thur   Lunch     2
120       24.08  2.92  Female     No  Thur   Lunch     4
121       11.69  2.31    Male     No  Thur   Lunch     2
122       13.42  1.68  Female     No  Thur   Lunch     2
123       14.26  2.50    Male     No  Thur   Lunch     2
124       15.95  2.00    Male     No  Thur   Lunch     2
125       12.48  2.52  Female     No  Thur   Lunch     2
126       29.80  4.20  Female     No  Thur   Lunch     6
127        8.52  1.48    Male     No  Thur   Lunch     2
128       14.52  2.00  Female     No  Thur   Lunch     2
129       11.38  2.00  Female     No  Thur   Lunch     2
130       22.82  2.18    Male     No  Thur   Lunch     3
131       19.08  1.50    Male     No  Thur   Lunch     2
132       20.27  2.83  Female     No  Thur   Lunch     2
133       11.17  1.50  Female     No  Thur   Lunch     2
134       12.26  2.00  Female     No  Thur   Lunch     2
135       18.26  3.25  Female     No  Thur   Lunch     2
136        8.51  1.25  Female     No  Thur   Lunch     2
137       10.33  2.00  Female     No  Thur   Lunch     2
138       14.15  2.00  Female     No  Thur   Lunch     2
139       16.00  2.00    Male    Yes  Thur   Lunch     2
140       13.16  2.75  Female     No  Thur   Lunch     2
141       17.47  3.50  Female     No  Thur   Lunch     2
142       34.30  6.70    Male     No  Thur   Lunch     6
143       41.19  5.00    Male     No  Thur   Lunch     5
144       27.05  5.00  Female     No  Thur   Lunch     6
145       16.43  2.30  Female     No  Thur   Lunch     2
146        8.35  1.50  Female     No  Thur   Lunch     2
147       18.64  1.36  Female     No  Thur   Lunch     3
148       11.87  1.63  Female     No  Thur   Lunch     2
149        9.78  1.73    Male     No  Thur   Lunch     2
150        7.51  2.00    Male     No  Thur   Lunch     2
192       19.81  4.19  Female    Yes  Thur   Lunch     2
193       28.44  2.56    Male    Yes  Thur   Lunch     2
194       15.48  2.02    Male    Yes  Thur   Lunch     2
195       16.58  4.00    Male    Yes  Thur   Lunch     2
196        7.56  1.44    Male     No  Thur   Lunch     2
197       10.34  2.00    Male    Yes  Thur   Lunch     2
198       43.11  5.00  Female    Yes  Thur   Lunch     4
199       13.00  2.00  Female    Yes  Thur   Lunch     2
200       13.51  2.00    Male    Yes  Thur   Lunch     2
201       18.71  4.00    Male    Yes  Thur   Lunch     3
202       12.74  2.01  Female    Yes  Thur   Lunch     2
203       13.00  2.00  Female    Yes  Thur   Lunch     2
204       16.40  2.50  Female    Yes  Thur   Lunch     2
205       20.53  4.00    Male    Yes  Thur   Lunch     4
206       16.47  3.23  Female    Yes  Thur   Lunch     3
221       12.16  2.20    Male    Yes   Fri   Lunch     2
222       13.42  3.48  Female    Yes   Fri   Lunch     2
223        8.58  1.92    Male    Yes   Fri   Lunch     1
224       15.98  3.00  Female     No   Fri   Lunch     3
225       13.42  1.58    Male    Yes   Fri   Lunch     2
226       16.27  2.50  Female    Yes   Fri   Lunch     2
227       10.09  2.00  Female    Yes   Fri   Lunch     2
244       18.78  3.00  Female     No  Thur  Dinner     2

In [179]:
df[~df.day.isin(['Thur', 'Fri'])]

     total_bill    tip     sex smoker  day    time  size
1         16.99   1.01  Female     No  Sun  Dinner     2
2         10.34   1.66    Male     No  Sun  Dinner     3
3         21.01   3.50    Male     No  Sun  Dinner     3
4         23.68   3.31    Male     No  Sun  Dinner     2
5         24.59   3.61  Female     No  Sun  Dinner     4
6         25.29   4.71    Male     No  Sun  Dinner     4
7          8.77   2.00    Male     No  Sun  Dinner     2
8         26.88   3.12    Male     No  Sun  Dinner     4
9         15.04   1.96    Male     No  Sun  Dinner     2
10        14.78   3.23    Male     No  Sun  Dinner     2
11        10.27   1.71    Male     No  Sun  Dinner     2
12        35.26   5.00  Female     No  Sun  Dinner     4
13        15.42   1.57    Male     No  Sun  Dinner     2
14        18.43   3.00    Male     No  Sun  Dinner     4
15        14.83   3.02  Female     No  Sun  Dinner     2
16        21.58   3.92    Male     No  Sun  Dinner     2
17        10.33   1.67  Female     No  Sun  Dinner     3
18        16.29   3.71    Male     No  Sun  Dinner     3
19        16.97   3.50  Female     No  Sun  Dinner     3
20        20.65   3.35    Male     No  Sat  Dinner     3
21        17.92   4.08    Male     No  Sat  Dinner     2
22        20.29   2.75  Female     No  Sat  Dinner     2
23        15.77   2.23  Female     No  Sat  Dinner     2
24        39.42   7.58    Male     No  Sat  Dinner     4
25        19.82   3.18    Male     No  Sat  Dinner     2
26        17.81   2.34    Male     No  Sat  Dinner     4
27        13.37   2.00    Male     No  Sat  Dinner     2
28        12.69   2.00    Male     No  Sat  Dinner     2
29        21.70   4.30    Male     No  Sat  Dinner     2
30        19.65   3.00  Female     No  Sat  Dinner     2
31         9.55   1.45    Male     No  Sat  Dinner     2
32        18.35   2.50    Male     No  Sat  Dinner     4
33        15.06   3.00  Female     No  Sat  Dinner     2
34        20.69   2.45  Female     No  Sat  Dinner     4
35        17.78   3.27    Male     No  Sat  Dinner     2
36        24.06   3.60    Male     No  Sat  Dinner     3
37        16.31   2.00    Male     No  Sat  Dinner     3
38        16.93   3.07  Female     No  Sat  Dinner     3
39        18.69   2.31    Male     No  Sat  Dinner     3
40        31.27   5.00    Male     No  Sat  Dinner     3
41        16.04   2.24    Male     No  Sat  Dinner     3
42        17.46   2.54    Male     No  Sun  Dinner     2
43        13.94   3.06    Male     No  Sun  Dinner     2
44         9.68   1.32    Male     No  Sun  Dinner     2
45        30.40   5.60    Male     No  Sun  Dinner     4
46        18.29   3.00    Male     No  Sun  Dinner     2
47        22.23   5.00    Male     No  Sun  Dinner     2
48        32.40   6.00    Male     No  Sun  Dinner     4
49        28.55   2.05    Male     No  Sun  Dinner     3
50        18.04   3.00    Male     No  Sun  Dinner     2
51        12.54   2.50    Male     No  Sun  Dinner     2
52        10.29   2.60  Female     No  Sun  Dinner     2
53        34.81   5.20  Female     No  Sun  Dinner     4
54         9.94   1.56    Male     No  Sun  Dinner     2
55        25.56   4.34    Male     No  Sun  Dinner     4
56        19.49   3.51    Male     No  Sun  Dinner     2
57        38.01   3.00    Male    Yes  Sat  Dinner     4
58        26.41   1.50  Female     No  Sat  Dinner     2
59        11.24   1.76    Male    Yes  Sat  Dinner     2
60        48.27   6.73    Male     No  Sat  Dinner     4
61        20.29   3.21    Male    Yes  Sat  Dinner     2
62        13.81   2.00    Male    Yes  Sat  Dinner     2
63        11.02   1.98    Male    Yes  Sat  Dinner     2
64        18.29   3.76    Male    Yes  Sat  Dinner     4
65        17.59   2.64    Male     No  Sat  Dinner     3
66        20.08   3.15    Male     No  Sat  Dinner     3
67        16.45   2.47  Female     No  Sat  Dinner     2
68         3.07   1.00  Female    Yes  Sat  Dinner     1
69        20.23   2.01    Male     No  Sat  Dinner     2
70        15.01   2.09    Male    Yes  Sat  Dinner     2
71        12.02   1.97    Male     No  Sat  Dinner     2
72        17.07   3.00  Female     No  Sat  Dinner     3
73        26.86   3.14  Female    Yes  Sat  Dinner     2
74        25.28   5.00  Female    Yes  Sat  Dinner     2
75        14.73   2.20  Female     No  Sat  Dinner     2
76        10.51   1.25    Male     No  Sat  Dinner     2
77        17.92   3.08    Male    Yes  Sat  Dinner     2
103       44.30   2.50  Female    Yes  Sat  Dinner     3
104       22.42   3.48  Female    Yes  Sat  Dinner     2
105       20.92   4.08  Female     No  Sat  Dinner     2
106       15.36   1.64    Male    Yes  Sat  Dinner     2
107       20.49   4.06    Male    Yes  Sat  Dinner     2
108       25.21   4.29    Male    Yes  Sat  Dinner     2
109       18.24   3.76    Male     No  Sat  Dinner     2
110       14.31   4.00  Female    Yes  Sat  Dinner     2
111       14.00   3.00    Male     No  Sat  Dinner     2
112        7.25   1.00  Female     No  Sat  Dinner     1
113       38.07   4.00    Male     No  Sun  Dinner     3
114       23.95   2.55    Male     No  Sun  Dinner     2
115       25.71   4.00  Female     No  Sun  Dinner     3
116       17.31   3.50  Female     No  Sun  Dinner     2
117       29.93   5.07    Male     No  Sun  Dinner     4
151       14.07   2.50    Male     No  Sun  Dinner     2
152       13.13   2.00    Male     No  Sun  Dinner     2
153       17.26   2.74    Male     No  Sun  Dinner     3
154       24.55   2.00    Male     No  Sun  Dinner     4
155       19.77   2.00    Male     No  Sun  Dinner     4
156       29.85   5.14  Female     No  Sun  Dinner     5
157       48.17   5.00    Male     No  Sun  Dinner     6
158       25.00   3.75  Female     No  Sun  Dinner     4
159       13.39   2.61  Female     No  Sun  Dinner     2
160       16.49   2.00    Male     No  Sun  Dinner     4
161       21.50   3.50    Male     No  Sun  Dinner     4
162       12.66   2.50    Male     No  Sun  Dinner     2
163       16.21   2.00  Female     No  Sun  Dinner     3
164       13.81   2.00    Male     No  Sun  Dinner     2
165       17.51   3.00  Female    Yes  Sun  Dinner     2
166       24.52   3.48    Male     No  Sun  Dinner     3
167       20.76   2.24    Male     No  Sun  Dinner     2
168       31.71   4.50    Male     No  Sun  Dinner     4
169       10.59   1.61  Female    Yes  Sat  Dinner     2
170       10.63   2.00  Female    Yes  Sat  Dinner     2
171       50.81  10.00    Male    Yes  Sat  Dinner     3
172       15.81   3.16    Male    Yes  Sat  Dinner     2
173        7.25   5.15    Male    Yes  Sun  Dinner     2
174       31.85   3.18    Male    Yes  Sun  Dinner     2
175       16.82   4.00    Male    Yes  Sun  Dinner     2
176       32.90   3.11    Male    Yes  Sun  Dinner     2
177       17.89   2.00    Male    Yes  Sun  Dinner     2
178       14.48   2.00    Male    Yes  Sun  Dinner     2
179        9.60   4.00  Female    Yes  Sun  Dinner     2
180       34.63   3.55    Male    Yes  Sun  Dinner     2
181       34.65   3.68    Male    Yes  Sun  Dinner     4
182       23.33   5.65    Male    Yes  Sun  Dinner     2
183       45.35   3.50    Male    Yes  Sun  Dinner     3
184       23.17   6.50    Male    Yes  Sun  Dinner     4
185       40.55   3.00    Male    Yes  Sun  Dinner     2
186       20.69   5.00    Male     No  Sun  Dinner     5
187       20.90   3.50  Female    Yes  Sun  Dinner     3
188       30.46   2.00    Male    Yes  Sun  Dinner     5
189       18.15   3.50  Female    Yes  Sun  Dinner     3
190       23.10   4.00    Male    Yes  Sun  Dinner     3
191       15.69   1.50    Male    Yes  Sun  Dinner     2
207       26.59   3.41    Male    Yes  Sat  Dinner     3
208       38.73   3.00    Male    Yes  Sat  Dinner     4
209       24.27   2.03    Male    Yes  Sat  Dinner     2
210       12.76   2.23  Female    Yes  Sat  Dinner     2
211       30.06   2.00    Male    Yes  Sat  Dinner     3
212       25.89   5.16    Male    Yes  Sat  Dinner     4
213       48.33   9.00    Male     No  Sat  Dinner     4
214       13.27   2.50  Female    Yes  Sat  Dinner     2
215       28.17   6.50  Female    Yes  Sat  Dinner     3
216       12.90   1.10  Female    Yes  Sat  Dinner     2
217       28.15   3.00    Male    Yes  Sat  Dinner     5
218       11.59   1.50    Male    Yes  Sat  Dinner     2
219        7.74   1.44    Male    Yes  Sat  Dinner     2
220       30.14   3.09  Female    Yes  Sat  Dinner     4
228       20.45   3.00    Male     No  Sat  Dinner     4
229       13.28   2.72    Male     No  Sat  Dinner     2
230       22.12   2.88  Female    Yes  Sat  Dinner     2
231       24.01   2.00    Male    Yes  Sat  Dinner     4
232       15.69   3.00    Male    Yes  Sat  Dinner     3
233       11.61   3.39    Male     No  Sat  Dinner     2
234       10.77   1.47    Male     No  Sat  Dinner     2
235       15.53   3.00    Male    Yes  Sat  Dinner     2
236       10.07   1.25    Male     No  Sat  Dinner     2
237       12.60   1.00    Male    Yes  Sat  Dinner     2
238       32.83   1.17    Male    Yes  Sat  Dinner     2
239       35.83   4.67  Female     No  Sat  Dinner     3
240       29.03   5.92    Male     No  Sat  Dinner     3
241       27.18   2.00  Female    Yes  Sat  Dinner     2
242       22.67   2.00    Male    Yes  Sat  Dinner     2
243       17.82   1.75    Male     No  Sat  Dinner     2

In [181]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [183]:
mpg['class']

1      compact
2      compact
3      compact
4      compact
5      compact
        ...
230    midsize
231    midsize
232    midsize
233    midsize
234    midsize
Name: class, Length: 234, dtype: object

In [186]:
mpg['new_info'] = mpg.cty + mpg.hwy

In [187]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_info
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43

In [188]:
mpg.new_info

1      47
2      50
3      51
4      51
5      42
       ..
230    47
231    50
232    42
233    44
234    43
Length: 234, dtype: int64